.root {
  display: flex;
  height: 100px;
  margin: 16px;
}

.cover {
  width: 100px;
}

.content {
  flex: 1 0 auto;
}

@media only screen and (min-width: 600px) {
  .root {
    margin: 32px 15%;
    height: 150px;
  }

  .cover {
    width: 150px;
  }
}
